//fonts
$light:300;
$regular:400;
$bold:600;
//Media Queries
$mq-mobile-phones:"(max-device-width:450px)";
$mq-mobile:"(max-width:375px)";
$mq-mobile-l:"(max-width:450px)";
$mq-tablet-s:"(max-width:768px)";
$mq-tablet:"(max-width:880px)";
$mq-desktop-s:"(max-width:970px)";
$mq-desktop:"(max-width:1280px)";