*, *:before, *:after {
  box-sizing: inherit;
}
html {
   box-sizing: border-box;
   max-width: 1400px;
}
img{
	box-sizing: content-box;
}

nav{
    ul{
        li{
            list-style-type: none;
            a{
                text-decoration: none;
            }
        }
    }
}